body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}

button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.card {
  background: #1e293b;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}
